<section id="redirection" class="row">
    <h1>Page en construction</h1>
    <h2>Continuer vers..</h2>
    <div class="col">
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <a href="/views/home/root.php#nav">
                    <button class="btn btn-lg btn-success">Accueil</button>
                </a>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="/views/cv/root.php">
                    <button class="btn btn-lg btn-danger">Mon CV</button>
                </a>
            </div>
        </div>
    </div>
</section>