<section id="redirection" class="row">
    <h1 class="text-center">Page en construction</h1>
    <h2 class="text-center">Continuer vers..</h2>
    <div class="col">
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <a href="/">
                    <button class="btn btn-lg btn-success">Accueil</button>
                </a>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <a href="/index.php?nav=cv">
                    <button class="btn btn-lg btn-danger">Mon CV</button>
                </a>
            </div>
        </div>
    </div>
</section>