</div>
<div id="footer" class="col d-flex justify-content-around">
    <ul class="blocked">
        <h5>Mentions légales</h5>
        <li>
            <a>Mentions légales</a>
        </li>
        <li>
            <a>CGUs</a>
        </li>
        <li>
            <a>CGVs</a>
        </li>
    </ul>
    <ul>
        <h5>Navigation</h5>
        <li>
            <a href="/">Accueil</a>
        </li>
        <li>
            <a href="/index.php?nav=cv">Mon CV</a>
        </li>
        <li>
            <a href="/index.php?nav=veille">Veille</a>
        </li>
        <li>
            <a href="/index.php?nav=esport">eSport</a>
        </li>
        <li>
            <a href="/index.php?nav=blog">Blog</a>
        </li>
    </ul>
    <ul class="d-none d-md-block">
        <h5>Accueil</h5>
        <li>
            <a href="/index.php#about">A propos</a>
        </li>
        <li>
            <a class="blocked">Offres</a>
        </li>
        <li>
            <a href="/index.php#portfolios">Portfolios</a>
        </li>
        <li>
            <a href="/index.php#contact">Contact</a>
        </li>
    </ul>
    <ul class="d-none d-md-block">
        <h5>CV</h5>
        <li>
            <a href="/index.php?nav=cv#exp">Expériences</a>
        </li>
        <li>
            <a href="/index.php?nav=cv#trainings">Formations</a>
        </li>
        <li>
            <a href="/index.php?nav=cv#skills">Compétences</a>
        </li>
        <li>
            <a href="/index.php?nav=cv#hobbies">Loisirs</a>
        </li>
    </ul>
</div>