<section id="portfolios" class="row">
    <h3>Portfolios</h3>
    <h6 class="text-center p-0">L'ensemble de ce portfolio à été développé dans le cadre de ma formation à
        la
        Manu.</h6>
    <div class="col">
        <h4 class="ml-5 mt-4">Mon projet principal: shop.ATH</h4>
        <div class="row justify-content-around my-3">
            <figure class="col-12 col-sm-3 col-lg-2">
                <a id="p1" href="https://trello.com/b/hZcTgw7f/ath-boutique-en-ligne" target="_blank">
                    <img class="img-fluid" src="/assets/img/trello.png" alt="Trello shop.ATH">
                </a>
                <figcaption>Le Trello</figcaption>
            </figure>
            <figure class="col-12 col-sm-3 col-lg-2">
                <a id="p2" href="/assets/ress/ATHShop.pdf" download>
                    <img class="img-fluid" src="/assets/img/figma.png" alt="Maquette shop.ATH">
                </a>
                <figcaption>La Maquette</figcaption>
            </figure>
            <figure class="col-12 col-sm-3 col-lg-2 blocked">
                <a id="p3" class="blocked" href="" target="_blank">
                    <img class="img-fluid" src="/assets/img/logoath_c.jpg" alt="Site shop.ATH">
                </a>
                <figcaption>Le Site</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 border"></div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="ml-5 mt-4">Mes projets Solo:</h4>
            <div class="row justify-content-around my-3">
                <figure class="col-12 col-sm-3 col-lg-2">
                    <a id="p4" href="https://vincentmancheron.github.io/JournalATH/" target="_blank">
                        <img class="img-fluid" src="/assets/img/ATH.jpg" alt="ATH News">
                    </a>
                    <figcaption>1er projet: ATH News</figcaption>
                </figure>
                <figure class="col-12 col-sm-3 col-lg-2">
                    <a id="p5" href="https://vincentmancheron.github.io/Shifumi/" target="_blank">
                        <img class="img-fluid" src="/assets/img/shifumi.png" alt="Shifumi">
                    </a>
                    <figcaption>Mini-projet: Shifumi</figcaption>
                </figure>
                <figure class="col-12 col-sm-3 col-lg-2">
                    <a id="p6" href="http://elagage80.manusien-ecolelamanu.fr/" target="_blank">
                        <img class="img-fluid" src="/assets/img/logo-elagage.png" alt="Quattro Stagioni">
                    </a>
                    <figcaption>Elagage80</figcaption>
                    <!-- 5eme projet, 1er Wordpress -->
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="ml-5 mt-4">Mes projets de groupe:</h4>
            <div class="row justify-content-around my-3">
                <figure class="col-12 col-sm-3 col-lg-2">
                    <a id="p7" href="https://ludovicarduino.github.io/littleitaly/" target="_blank">
                        <img class="img-fluid" src="/assets/img/littleitalyweb.png" alt="Little Italy">
                    </a>
                    <figcaption>2ème projet: Little Italy</figcaption>
                </figure>
                <figure class="col-12 col-sm-3 col-lg-2">
                    <a id="p8" href="https://cedricgallet.github.io/Vitrine_Quattro_Stagioni/" target="_blank">
                        <img class="img-fluid" src="/assets/img/resto_Quattro_Stagioni2.png" alt="Quattro Stagioni">
                    </a>
                    <figcaption>3ème projet: Quattro Stagioni</figcaption>
                </figure>
                <figure class="col-12 col-sm-3 col-lg-2">
                    <a id="p9" href="https://pisnocanhem.github.io/ecommerce/" target="_blank">
                        <img class="img-fluid" src="/assets/img/sneakersShop.jpg" alt="sneakers.Shop">
                    </a>
                    <figcaption>4ème projet: sneakers.Shop</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>