<section id="aPropos" class="row">
    <h3>A propos de moi</h3>
    <div class="col">
        <div class="row justify-content-center border mx-5 py-3">
            <div class="col-12 col-lg-6 py-2 border">
                <a id="manu" class="d-flex justify-content-center" href="https://lamanu.fr/campus/amiens-formation-numerique/" target="_blank">
                    <img class="img-fluid" src="/assets/img/logo_La_Manu.png" alt="La Manu">
                </a>
                <p>
                    J'étudie en ce moment à la Manu Amiens, une école de la marque Novei
                    Formations.<br>
                    L'ensemble de mon portfolio se résume aux projets réalisés en son sein.
                </p>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                <ul class="mr-5">
                    <li>Vincent</li>
                    <li>25 ans</li>
                    <li>Amiens</li>
                </ul>
                <img id="photopropos" class="img-fluid" src="/assets/img/vincentM3b.jpg" alt="Photo personnelle">
            </div>
        </div>
        <div class="row text-center border mx-5 py-3">
            <div class="col-12">
                <h4>Pourquoi me faire confiance ?</h4>
                <p>Curieux et volontaire, je m'investis dans mes projets et cherche à comprendre comment faire mieux.<br>
                Je suis concentré dans ma formation et espère progresser vers le domaine qui m'intéresse: <strong>La Cybersécurité</strong><br>
                Je m'auto-forme et m'inspire de personnalités du milieu pour y arriver.</p>
            </div>
        </div>
    </div>
</section>