<section id="aPropos" class="row">
    <h3>A propos de moi</h3>
    <div class="col-8 offset-2 border">
        <div class="row py-3">
            <ul class="d-flex flex-column flex-md-row col-6 col-md-12 mt-md-2 justify-content-center align-items-middles">
                <li class="mx-auto mx-md-0 px-md-3">Vincent</li>
                <li class="mx-auto mx-md-0 px-md-3">25 ans</li>
                <li class="mx-auto mx-md-0 px-md-3">Amiens</li>
            </ul>
            <div class="col-6 d-md-none d-flex justify-content-center">
                <img id="photopropos" class="img-fluid" src="/assets/img/vincentM3b.jpg" alt="Photo personnelle">
            </div>
        </div>
        <div class="row justify-content-center mx-md-5 py-3">
            <a id="manu" class="col-10 col-md-3 offset-md-1 d-flex justify-content-center mb-2 mb-md-0" href="https://lamanu.fr/campus/amiens-formation-numerique/" target="_blank">
                <img class="img-fluid" src="/assets/img/logo_La_Manu.png" alt="La Manu">
            </a>
            <p class="col-md-5 d-flex align-items-center text-center">
                J'étudie en ce moment à la Manu Amiens, une école de la marque Novei
                Formations.<br>
                L'ensemble de mon portfolio se résume aux projets réalisés en son sein.
            </p>
        </div>
        <div class="row border-top py-2 mb-2 mb-md-0">
            <h4 class="col-12 text-center">Pourquoi me faire confiance ?</h4>
            <p class="text-center col-md-8 offset-md-2">Curieux et volontaire, je m'investis dans mes projets et cherche à comprendre comment faire mieux.<br>
            Je suis concentré dans ma formation et espère progresser vers le domaine qui m'intéresse: <strong>La Cybersécurité</strong><br>
            Je m'auto-forme et m'inspire de personnalités du milieu pour y arriver.</p>
        </div>
    </div>
</section>