/* ---Généralités--- */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    background-image: url(../img/matrix.jpg);
    filter: saturate(150%);
    color: whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 90%;
}

section {
    border: ridge .5em green;
    padding: 2em 0;
    background-image: url(/assets/img/oldBlack.jpg);
    background-size: cover;
    opacity: 92%;
    display: block !important;
    margin: 2em 0;
    width: 100%;
    align-self: center;
}

a {
    text-decoration: none;
}

h3 {
    padding: 2em 0 1em 0;
    text-align: center;
}

figure {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    opacity: 100%;
}

figure img {
    height: 30vh;
    width: 30vh;
    border-radius: 2em;
}

.w-5 {
    width: 5%;
}

.w-12 {
    width: 12%;
}

.w-55 {
    width: 55%;
}

.h-10 {
    height: 10%;
}

/* Footer */
footer {
    background-image: url(/assets/img/grunge.jpg);
    background-size: cover;
}

/* Fin Footer */
/* ---Fin Généralités--- */

/* -Index- */
#index1 {
    height: 100vh;
    background-image: url(/assets/img/oldBlack.jpg);
    opacity: 95%;
}

#index1 img {
    position: absolute;
    left: 77vh;
    height: 50vh;
    width: 50vh;
    border-radius: 25em;
}

#index2 {
    border-radius: 50em;
}

#index2>a:first-child {
    background-image: url(/assets/img/fr.png);
    background-size: cover;
    background-position: center;
    border-radius: 50em 0 0 50em;
    opacity: 70%;
}

#index2>a:nth-child(2) {
    background-image: url(/assets/img/en.png);
    background-size: cover;
    background-position: center;
    border-radius: 0 50em 50em 0;
    opacity: 70%;
}

/* -Fin Index- */

/* --Home+CV-- */
/* Navbar */
#btn-cv {
    width: 7.5em;
}

#stickybot {
    bottom: 0;
    position: sticky;
    opacity: 85%;
    background-color: black;
    color: white;
}

#stickybot li {
    margin: 0 5.5em;
}

#stickybot img {
    width: 1.5em;
}

/* Fin Navbar */

/* Portfolios */
#portfolios figure :hover {
    opacity: 85%;
    border-radius: 5em;
}

#p3 img {
    background-color: white;
}

/* Fin Portfolios */

/* Contact */
#coord {
    font-size: 80%;
}

#contact img {
    height: 4em;
    width: 4em;
}

#github {
    filter: brightness(1000%);
}

option {
    color: black;
}

/* Fin Contact */
/* Footer */
#footer a {
    color: grey;
}

#footer ul {
    list-style: none;
}
/* --Fin Home+CV-- */

/* -Home- */
/* Header */
#home {
    font-family: 'Zen Dots', sans-serif;
    background-image: url(/assets/img/grunge.jpg);
}

#fleche-bas {
    background-color: whitesmoke;
    border-radius: 10em;
}

#moncv {
    color: white;
}

/* Fin Header */
/* Carroussel */
#carouselExampleControls img {
    height: 50vh;
}

/* Fin Carroussel */

/* -Fin Home- */