/* Une partie du Style est réalisé en JS avec ColorMod() */

/* ---Généralités--- */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    background-image: url(../img/matrix.jpg);
    /* filter: saturate(150%); => Fait bugguer les modals ??... */
}

main {
    display: flex;
    flex-direction: column;
    opacity: 90%;
}

#main2 {
    padding: 0 2em;
}

section {
    /* border: ridge .5em green; */
    padding: 2em 0;
    background-image: url(/assets/img/oldBlack.jpg);
    background-size: cover;
    opacity: 92%;
    display: block !important;
    margin: 2em 0;
    width: 100%;
    align-self: center;
}

a {
    text-decoration: none;
}

h3 {
    padding: 2em 0 1em 0;
    text-align: center;
}

figure {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    opacity: 100%;
}

figure img {
    border-radius: 2em;
}

.w-5 {
    width: 5%;
}

.w-12 {
    width: 12%;
}

.w-55 {
    width: 55%;
}

.h-10 {
    height: 10%;
}

/* ---Fin Généralités--- */

/* --Home+CV-- */
/* Navbar */
nav {
    font-size: 0.9em !important;
}

#language ul {
    list-style: none;
}

#buttonFlag {
    padding: 0.1rem 0.5em;
}

#flag,
.flagSelect {
    width: 2em;
}

.stickyBot {
    bottom: 0;
    position: sticky;
    opacity: 85%;
    background-color: black;
    color: white;
}

.stickyBot li {
    margin-top: 1em;
    list-style: none;
}

.stickyBot img {
    width: 1.5em;
}

#respStickyBot a {
    cursor: pointer;
}

/* Fin Navbar */
/* Faux Footer */
#footer ul {
    list-style: none;
}

#footer h5 {
    font-weight: 800;
}

/* Fin Faux Footer */
/* --Fin Home+CV-- */

/* -Home- */
/* Header */
#profilPicture img {
    height: 100vh;
}

#home {
    font-family: 'Zen Dots', sans-serif;
}

#fleche-bas {
    background-color: whitesmoke;
    border-radius: 10em;
}

#fleche-bas img {
    width: 2em;
    height: 2em;
}

/* Fin Header */
/* A propos */
#aPropos ul {
    list-style: none;
}

#manu img {
    width: 5em;
    border-radius: 2em;
}

#photopropos {
    width:9em;
    height: 13em;
    border-radius: 3em;
}
/* Fin A propos */

/* Portfolios */
#portfolios h3 {
    padding-bottom: 0;
}

#portfolios figure :hover {
    opacity: 85%;
    border-radius: 5em;
}

/* #p1:hover {
    content: 'Yololo';
}

#p2:hover {
    content: 'Yololo';
} */


/* #p3:hover {
    content: 'Yololo';
}

#p4:hover {
    content: 'Yololo';
}

#p5:hover {
    content: 'Yololo';
} */

#p5 img {
    background-color: #F3A829;
}

/* #p6:hover {
    content: 'Yololo';
}

#p7:hover {
    content: 'Yololo';
}

#p8:hover {
    content: 'Yololo';
} */

#p8 img {
    background-color: white;
}

/* #p9:hover {
    content: 'Yololo';
} */

/* Fin Portfolios */

/* Contact */
#coord {
    font-size: 80%;
}

#contact img {
    height: 4em;
    width: 4em;
}

#github {
    filter: brightness(1000%);
}

.error {
    color: red;
    font-style: italic;
}

option {
    color: black;
}

/* Fin Contact */
/* Carousel */
#carousel img {
    height: 50vh;
}

/* Fin Carousel */
/* -Fin Home- */