/* Une partie du Style est réalisé en JS avec ColorMod() */

/* ---Généralités--- */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    background-image: url(../img/matrix.jpg);
    filter: saturate(150%);
}

main {
    display: flex;
    flex-direction: column;
    opacity: 90%;
    padding: 0 2em;
}

section {
    /* border: ridge .5em green; */
    padding: 2em 0;
    background-image: url(/assets/img/oldBlack.jpg);
    background-size: cover;
    opacity: 92%;
    display: block !important;
    margin: 2em 0;
    width: 100%;
    align-self: center;
}

a {
    text-decoration: none;
}

h3 {
    padding: 2em 0 1em 0;
    text-align: center;
}

figure {
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    opacity: 100%;
}

figure img {
    height: 30vh;
    width: 30vh;
    border-radius: 2em;
}

.w-5 {
    width: 5%;
}

.w-12 {
    width: 12%;
}

.w-55 {
    width: 55%;
}

.h-10 {
    height: 10%;
}

/* ---Fin Généralités--- */

/* --Home+CV-- */
/* Navbar */
#language ul {
    list-style: none;
}

#buttonFlag {
    padding: 0.1rem 0.5em;
}

#flag,
.flagSelect {
    width: 2em;
}

#stickybot {
    bottom: 0;
    position: sticky;
    opacity: 85%;
    background-color: black;
    color: white;
}

#stickybot li {
    margin: 0 5.5em;
}

#stickybot img {
    width: 1.5em;
}

/* Fin Navbar */

/* Portfolios */
#portfolios h3 {
    padding-bottom: 0;
}

#portfolios figure :hover {
    opacity: 85%;
    border-radius: 5em;
}

#p3 img {
    background-color: white;
}

/* Fin Portfolios */

/* Contact */
#coord {
    font-size: 80%;
}

#contact img {
    height: 4em;
    width: 4em;
}

#github {
    filter: brightness(1000%);
}

.error {
    color: red;
    font-style: italic;
}

option {
    color: black;
}

/* Fin Contact */
/* Faux Footer */
#footer ul {
    list-style: none;
}

#footer h5 {
    font-weight: 800;
}

/* Fin Faux Footer */
/* --Fin Home+CV-- */

/* -Home- */
/* Header */
#home {
    font-family: 'Zen Dots', sans-serif;
}

#fleche-bas {
    background-color: whitesmoke;
    border-radius: 10em;
}

#fleche-bas img {
    width: 2em;
    height: 2em;
}

/* Fin Header */
/* Carroussel */
#carousel img {
    height: 50vh;
}

/* Fin Carroussel */
/* -Fin Home- */