/* Exp */
#exp .main-timeline{
    padding-top: 50px;
    overflow: hidden;
    position: relative;
}
#exp .main-timeline:before{
    content: "";
    width: 7px;
    height: 100%;
    background: #084772;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}
#exp .main-timeline .timeline{
    width: 50%;
    float: left;
    padding: 20px 60px;
    border-top: 7px solid #084772;
    border-right: 7px solid #084772;
    border-radius: 0 30px 0 0;
    position: relative;
    right: -3.5px;
}
#exp .main-timeline .icon{
    display: block;
    width: 50px;
    height: 50px;
    line-height:50px;
    border-radius: 50%;
    background: #e84c47;
    border: 1px solid #fff;
    text-align: center;
    font-size: 25px;
    color: #fff;
    box-shadow: 0 0 0 2px #e84c47;
    position: absolute;
    top: -30px;
    left: 0;
}
#exp .main-timeline .timeline-content{
    display: block;
    padding: 30px 10px 10px;
    border-radius: 20px;
    background: #e84c47;
    color: #fff;
    position: relative;
}
#exp .main-timeline .timeline-content:hover{
    text-decoration: none;
    color: #fff;
}
#exp .main-timeline .timeline-content:before,
#exp .main-timeline .timeline-content:after{
    content: "";
    display: block;
    width: 10px;
    height: 50px;
    border-radius: 10px;
    background: #e84c47;
    border: 1px solid #fff;
    position: absolute;
    top: -35px;
    left: 50px;
}
#exp .main-timeline .timeline-content:after{
    left: auto;
    right: 50px;
}
#exp .main-timeline .title{
    font-size: 24px;
    margin: 0;
}
#exp .main-timeline .description{
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
#exp .main-timeline .timeline:nth-child(2n){
    border-right: none;
    border-left: 7px solid #084772;
    border-radius: 30px 0 0 0;
    right: auto;
    left: -3.5px;
}
#exp .main-timeline .timeline:nth-child(2n) .icon{
    left: auto;
    right: 0;
}
#exp .main-timeline .timeline:nth-child(2){ margin-top: 130px; }
#exp .main-timeline .timeline:nth-child(odd){ margin: -130px 0 30px 0; }
#exp .main-timeline .timeline:nth-child(even){ margin-bottom: 80px; }
#exp .main-timeline .timeline:first-child,
#exp .main-timeline .timeline:last-child:nth-child(even){ margin: 0 0 30px 0; }
#exp .main-timeline .timeline:nth-child(2) .timeline-content,
#exp .main-timeline .timeline:nth-child(2) .timeline-content:before,
#exp .main-timeline .timeline:nth-child(2) .timeline-content:after,
#exp .main-timeline .timeline:nth-child(2) .icon{ background: #24685b; }
#exp .main-timeline .timeline:nth-child(2) .icon{ box-shadow: 0 0 0 2px #24685b; }
#exp .main-timeline .timeline:nth-child(3) .timeline-content,
#exp .main-timeline .timeline:nth-child(3) .timeline-content:before,
#exp .main-timeline .timeline:nth-child(3) .timeline-content:after,
#exp .main-timeline .timeline:nth-child(3) .icon{ background: #ff9e09; }
#exp .main-timeline .timeline:nth-child(3) .icon{ box-shadow: 0 0 0 2px #ff9e09; }
#exp .main-timeline .timeline:nth-child(4) .timeline-content,
#exp .main-timeline .timeline:nth-child(4) .timeline-content:before,
#exp .main-timeline .timeline:nth-child(4) .timeline-content:after,
#exp .main-timeline .timeline:nth-child(4) .icon{ background: #216881; }
#exp .main-timeline .timeline:nth-child(4) .icon{ box-shadow: 0 0 0 2px #216881; }
#exp .main-timeline .timeline:nth-child(5) .timeline-content,
#exp .main-timeline .timeline:nth-child(5) .timeline-content:before,
#exp .main-timeline .timeline:nth-child(5) .timeline-content:after,
#exp .main-timeline .timeline:nth-child(5) .icon{ background: #b165a7; }
#exp .main-timeline .timeline:nth-child(5) .icon{ box-shadow: 0 0 0 2px #b165a7; }
#exp .main-timeline .timeline:nth-child(6) .timeline-content,
#exp .main-timeline .timeline:nth-child(6) .timeline-content:before,
#exp .main-timeline .timeline:nth-child(6) .timeline-content:after,
#exp .main-timeline .timeline:nth-child(6) .icon{ background: #10521b; }
#exp .main-timeline .timeline:nth-child(6) .icon{ box-shadow: 0 0 0 2px #10521b; }
@media only screen and (max-width: 767px){
    #exp .main-timeline:before{
        left: 0;
        right: auto;
    }
    #exp .main-timeline .timeline,
    #exp .main-timeline .timeline:nth-child(even),
    #exp .main-timeline .timeline:nth-child(odd){
        width: 100%;
        float: none;
        padding: 20px 30px;
        margin: 0 0 30px 0;
        border-right: none;
        border-left: 7px solid #084772;
        border-radius: 30px 0 0 0;
        right: auto;
        left: 0;
    }
    #exp .main-timeline .icon{
        left: auto;
        right: 0;
    }
}
@media only screen and (max-width: 480px){
    #exp .main-timeline .title{ font-size: 18px; }
}

/* Modif perso */
#exp .main-timeline h3 {
    padding: 0 0 0.5em 0;
}

#exp .main-timeline {
    font-weight: 700;
}

/* Fin Exp */

/* Train */
#trainings .main-timeline{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
#trainings .main-timeline:before{
    content: '';
    width: 5px;
    height: 100%;
    border-left: 5px dashed #fff;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
}
#trainings .main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
#trainings .main-timeline .timeline{
    width: calc(50% + 25px);
    padding: 0;
    margin: 0 0 0 50px;
    float: right;
    position: relative;
}
#trainings .main-timeline .timeline-content{
    color: #fff;
    padding: 15px 60px 15px 75px;
    border-top: 3px solid #fff;
    display: block;
    position: relative;
}
#trainings .main-timeline .timeline-content:hover{ text-decoration: none; }
#trainings .main-timeline .timeline-content:before,
#trainings .main-timeline .timeline-content:after{
    content: '';
    background: linear-gradient(to bottom,#FF4568,#FD2661);
    height: 100%;
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
}
#trainings .main-timeline .timeline-content:after{
    background: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: auto;
    right: 0;
    top: -5px;
}
#trainings .main-timeline .timeline-icon{
    color: #fff;
    font-size: 40px;
    text-shadow: 0 0 5px rgba(0,0,0,0.1);
    position: absolute;
    top: 20px;
    right: 0;
}
#trainings .main-timeline .title{
    color: #FD2661;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 7px 0;
}
#trainings .main-timeline .description{
    font-size: 14px;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0;
}
#trainings .main-timeline .timeline:nth-child(even){
    margin: 0 50px 0 0;
    float: left;
}
#trainings .main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 70px 15px 60px; }
#trainings .main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: auto;
    right: 0;
}
#trainings .main-timeline .timeline:nth-child(even) .timeline-content:after{
    right: auto;
    left: 0;
}
#trainings .main-timeline .timeline:nth-child(even) .timeline-icon{
    right: auto;
    left: 0;
}
#trainings .main-timeline .timeline:nth-child(4n+2) .timeline-content:before{
    background: linear-gradient(to bottom,#FF8A2D,#FE6529);
}
#trainings .main-timeline .timeline:nth-child(4n+2) .title{ color: #FE6529; }
#trainings .main-timeline .timeline:nth-child(4n+3) .timeline-content:before{
    background: linear-gradient(to bottom,#01A9DA,#0076F4);
}
#trainings .main-timeline .timeline:nth-child(4n+3) .title{ color: #0076F4; }
#trainings .main-timeline .timeline:nth-child(4n+4) .timeline-content:before{
    background: linear-gradient(to bottom,#3CECA3,#11AD9F);
}
#trainings .main-timeline .timeline:nth-child(4n+4) .title{ color: #11AD9F; }
@media screen and (max-width:767px){
    #trainings .main-timeline:before{
        transform: translateX(0);
        left: 22px;
    }
    #trainings .main-timeline .timeline,
    #trainings .main-timeline .timeline:nth-child(even){
        width: 100%;
    }
    #trainings .main-timeline .timeline-content,
    #trainings .main-timeline .timeline:nth-child(even) .timeline-content{
        padding: 15px 60px 15px 70px;
    }
    #trainings .main-timeline .timeline:nth-child(even) .timeline-content:before{
        right: auto;
        left: 0;
    }
    #trainings .main-timeline .timeline:nth-child(even) .timeline-content:after{
        right: 0;
        left: auto;
    }
    #trainings .main-timeline .timeline:nth-child(even) .timeline-icon{
        left: auto;
        right: 0;
    }
}
@media screen and (max-width:567px){
    #trainings .main-timeline .title{ font-size: 18px; }
}
/* Fin Train */