<section id="redirection" class="row">
    <h3>Continuer vers..</h3>
    <div class="col">
        <div class="row">
            <div class="col-4 d-flex justify-content-center">
                <a class="blocked" href="">
                    <button class="btn btn-lg btn-success">Offres</button>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="/views/home/root.php#portfolios">
                    <button class="btn btn-lg btn-danger">Portfolios</button>
                </a>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <a href="/views/home/root.php#contact">
                    <button class="btn btn-lg btn-primary">Contact</button>
                </a>
            </div>
        </div>
    </div>
</section>